<!-- Modal -->
<% var serviceNumber = 1%>
<% readMoreServices.forEach((service)=>{ %>
<div class="modal fade" id="service<%=serviceNumber%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="backendDevLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="backendDevLabel"><%= service.Heading%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= service.Content%>
      </div>
    </div>
  </div>
</div>
</div>
<% serviceNumber++ %>
<%})%>


<!-- project modals -->
<% var projectNo = 1 %>
<% readMoreWork.forEach((work)=>{ %>
<div class="modal fade" id="project<%= projectNo%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="project1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="project1Label"><%= work.Heading %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= work.ReadMore %>
      </div>
    </div>
  </div>
</div>
</div>
<% projectNo++ %>
<%})%>

