<%- include('includes/header')%>
    <%- include('includes/adminModals', {works})%>
        <link rel="stylesheet" href="/css/admin.css">

        <body data-bs-spy="scroll" data-bs-target=".navbar">


            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                <div class="container flex-lg-column">
                    <a class="navbar-brand mx-lg-auto mb-lg-4" href="#">
                        <span class="h3 fw-bold d-block d-lg-none">
                            < Anabil />
                        </span>
                        <img src="/images/MY_avatar.jpg" class="d-none d-lg-block rounded-circle" alt="">
                        <label style="display: inline;">
                            <div id="edit-image">
                                <h3 class="d-flex justify-content-end text-success"><i class="fa-solid fa-plus"></i>
                                </h3>
                                <input type="file" style="display: none;">
                            </div>

                    </a>
                    </label>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">

                            <li class="nav-item">
                                <a class="nav-link" href="#home">Analytics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Requests">Requests</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#work">Work</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#blogs">Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#settings">Settings</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </nav>
            <!-- //NAVBAR -->

            <!-- CONTENT WRAPPER -->
            <div id="content-wrapper">
                <!-- HOME -->
                <section id="home" class="full-height px-lg-5">
                    <div class="row pb-4" data-aos="fade-up">
                        <div class="col-lg-8 ">
                            <h4 class="text-brand">ANALYTICS</h4>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="container">
                                    <canvas id="piChart"></canvas>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="container">
                                    <h2></h2>
                                    <canvas id="barChart" style="height: 1000px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <!-- //HOME -->


                <!-- REQUEST -->
                <section id="Requests" class="py-5 my-5">
                    <div class="container">
                        <div class="row pb-4" data-aos="fade-up">
                            <div class="col-lg-8">
                                <h4 class="text-brand">REQUESTS</h4>
                            </div>
                        </div>

                        <div class="cards m-3 p-3">
                            <ul>
                                <% for (var i = 0; i < requests.length; i++) { %>
                               <li class="p-3 m-3 shadow-effect">
                                    <h4><%= requests[i].username%></h4>
                                    <p><%= requests[i].message%></p>
                               </li>
                               <%}%>
                               <% if (requests.length > 3) { %>
                                <% for (var i = 3; i < requests.length - 3; i++) { %>
                                    <div class="collapse" id="collapseRequests">
                                    <li class="p-3 m-3 shadow-effect">
                                        <h4>Robert</h4>
                                        <p>Hey will you work fot us ?</p>
                                    </li>
                                    </div>
                                <% } %>
                                <a class="btn btn-link" data-toggle="collapse" href="#collapseRequests" role="button" aria-expanded="false" aria-controls="collapseRequests">
                                  Show more
                                </a>
                              <% } %>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- //REQUEST -->

                <!-- WORK -->
                <section id="work" class="py-5 my-5">
                    <div class="container">
                        <div class="row pb-4" data-aos="fade-up">
                            <div class="col-lg-8">
                                <h4 class="text-brand">WORK</h4>
                            </div>
                        </div>

                        <div class="container table-bordered">
                            <table class="table text-light">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ProjectImage</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Live link</th>
                                        <th scope="col">Read more</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var count=1 %>
                                        <% works.forEach(work=> { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= count %>
                                                </th>
                                                <td>
                                                    <%= work.imgURL %>
                                                </td>
                                                <td>
                                                    <%= work.Description %>
                                                </td>
                                                <td>
                                                    <%= work.Heading %>
                                                </td>
                                                <td>
                                                    <%= work.LiveDemo %>
                                                </td>
                                                <td>
                                                    <%= work.ReadMore %>
                                                </td>
                                                <td><button data-bs-toggle="modal"
                                                        data-bs-target="#editProjectModal<%= count%>" type="submit"
                                                        class="btn btn-success p-1">Edit</button></td>
                                            </tr>
                                            <% count++ %>
                                                <% }); %>

                                                    <tr>
                                                        <form id="addWork">
                                                            <td></td>
                                                            <td><input type="file" id="file-input1" name="profileImg"
                                                                    class="form-control"></td>
                                                            <td><input type="text" name="desc" class="form-control">
                                                            </td>
                                                            <td><input type="text" name="title" class="form-control">
                                                            </td>
                                                            <td><input type="text" name="liveLink" class="form-control">
                                                            </td>
                                                            <td><input type="text" name="readMore" class="form-control">
                                                            </td>
                                                            <td><button type="submit"
                                                                    class="btn btn-primary p-1">Submit</button></td>
                                                        </form>
                                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- //WORK -->

                <!-- BLOG -->
                <section id="blogs">
                    <div class="container">
                        <div class="row pb-4" data-aos="fade-up">
                            <div class="col-lg-8">
                                <h4 class="text-brand">BLOGS</h4>
                            </div>
                        </div>

                        <div class="container table-bordered">
                            <table class="table text-light">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ProfileImage</th>
                                        <th scope="col">Blog link</th>
                                        <th scope="col">Blog title</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var count=1 %>
                                        <% blogs.forEach(blog=> { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= count %>
                                                </th>
                                                <td>
                                                    <%= blog.img %>
                                                </td>
                                                <td>
                                                    <%= blog.blogLink %>
                                                </td>
                                                <td>
                                                    <%= blog.Heading %>
                                                </td>
                                                <td><button data-bs-toggle="modal"
                                                        data-bs-target="#editBlogModal<%= count%>" type="submit"
                                                        class="btn btn-success p-1">Edit</button></td>
                                            </tr>
                                            <% count++ %>
                                                <% }); %>
                                                    <tr>
                                                        <form id="addBlog">
                                                            <td></td>
                                                            <td><input type="text" name="imgURL" class="form-control">
                                                            </td>
                                                            <td><input type="text" name="blogLink" class="form-control">
                                                            </td>
                                                            <td><input type="text" name="blogTitle"
                                                                    class="form-control"></td>
                                                            <td><button type="submit"
                                                                    class="btn btn-primary p-1">Submit</button></td>
                                                        </form>
                                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- //BLOG -->
                <br>

                <!-- SETTINGS -->
                <section id="settings">
                    <div class="container">
                        <div class="row pb-4" data-aos="fade-up">
                            <div class="col-lg-8">
                                <h4 class="text-brand">SETTINGS</h4>
                            </div>
                        </div>
                        <div class="cards m-3 p-3">
                            <ul>
                                <li class="p-3 m-3 shadow-effect">
                                    das
                                </li>
                                <li class="p-3 m-3 shadow-effect">
                                    asd
                                </li>
                                <li class="p-3 m-3 shadow-effect">
                                    fasd
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                </section>
                <!-- //SETTINGS -->

                <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
                <script>

                    const addWork = document.querySelector('#addWork')

                    addWork.addEventListener('submit', async (event) => {
                        event.preventDefault();

                        const formData = new FormData(addWork);

                        const fileInput = document.querySelector('#file-input1')
                        const file = fileInput.files[0];
                        var base64String
                        if (file !== undefined) {

                            const reader = new FileReader();
                            reader.readAsBinaryString(file);
                            base64String = await new Promise((resolve) => {
                                reader.addEventListener('load', () => {
                                    resolve(btoa(reader.result));
                                });
                            });
                            formData.append('fileType', file.type)
                            formData.append('base64String', base64String)
                            formData.append('fileType', file.type)
                        }
                        const formValues = Object.fromEntries(formData.entries());
                        $.ajax({
                            url: `${baseURL}/admin/addWork`,
                            method: 'POST',
                            data: JSON.stringify(formValues),
                            contentType: 'application/json',
                            success: function (response) {
                                if (response.status === "error")
                                    alert(response.message)
                                else if (response.status === "success") {
                                    alert(response.message)
                                }
                                else
                                    alert(response.message)
                            },
                            error: function (response) {
                                alert(response.message)
                            }
                        })
                    });


                    const addBlog = document.querySelector('#addBlog')

                    addBlog.addEventListener('submit', async (event) => {
                        event.preventDefault();

                        const formData = new FormData(addBlog);

                        const formValues = Object.fromEntries(formData.entries());
                        console.log(formValues)
                        $.ajax({
                            url: `${baseURL}/admin/addBlog`,
                            method: 'POST',
                            data: JSON.stringify(formValues),
                            contentType: 'application/json',
                            success: function (response) {
                                if (response.status === "error")
                                    alert(response.message)
                                else if (response.status === "success") {
                                    alert(response.message)
                                    location.reload()
                                }
                                else
                                    alert(response.message)
                            },
                            error: function (response) {
                                alert(response.message)
                            }
                        })
                    });


                    // select the canvas element
                    const canvas = document.getElementById('piChart');

                    // create a new chart instance
                    const chart = new Chart(canvas, {
                        type: 'pie',
                        data: {
                            labels: ['Visitors', 'Requests', 'Redirections'],
                            datasets: [{
                                data: [30, 20, 30],
                                backgroundColor: ['red', 'blue', 'yellow']
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    labels: {
                                        color: 'white',
                                        font: {
                                            size: 16
                                        }
                                    }
                                }
                            }
                        }
                    });


                    // select the canvas element
                    const barcanvas = document.getElementById('barChart');

                    // create a new chart instance
                    const barchart = new Chart(barcanvas, {
                        type: 'bar',
                        data: {
                            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                            datasets: [{
                                label: 'Profile Visitors',
                                data: [10, 20, 30, 15, 25, 35, 20],
                                backgroundColor: 'green'
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        font: {
                                            size: 16
                                        },
                                        color: 'white'
                                    }
                                },
                                x: {
                                    ticks: {
                                        font: {
                                            size: 16
                                        },
                                        color: 'white'
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    labels: {
                                        color: 'white',
                                        font: {
                                            size: 16
                                        }
                                    }
                                }
                            },
                            responsive: true,
                            height: 400 // set the height here
                        }
                    });

                </script>

                <%- include('includes/footer')%>