<%- include('includes/header')%>
<link rel="stylesheet" href="/css/admin.css">
    <%- include('includes/modals')%>

        <body data-bs-spy="scroll" data-bs-target=".navbar">

            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                <div class="container flex-lg-column">
                    <a class="navbar-brand mx-lg-auto mb-lg-4" href="#">
                        <span class="h3 fw-bold d-block d-lg-none">
                            < Anabil />
                        </span>
                        <img src="/images/MY_avatar.jpg" class="d-none d-lg-block rounded-circle" alt="">
                        <label style="display: inline;">
                        <div  id="edit-image">
                            <h3 class="d-flex justify-content-end text-success"><i class="fa-solid fa-plus"></i></h3>
                            <input type="file" style="display: none;">
                        </div>
                        
                    </a>
                    </label>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">

                            <li class="nav-item">
                                <a class="nav-link" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#work">Work</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#blogs">Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <!-- //NAVBAR -->

            <!-- CONTENT WRAPPER -->
            <div id="content-wrapper">
                <!-- HOME -->

                <div id="displaySuccessAlert" style="display: none;">
                    <%- include('includes/successAlert')%>
                </div>
                <div id="displayErrorAlert" style="display: none;">
                    <%- include('includes/errorAlert')%>
                </div>

                <section id="home" class="full-height px-lg-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 myHeader" contentEditable="true">
                                <div class=" myAvatar d-block d-sm-none text-center my-2">
                                    <img src="/images/MY_avatar.jpg" class="w-50 h-50 rounded-circle" alt="">
                                </div>
                                <h1 class="display-4 fw-bold" data-aos="fade-up">I'M A <span class="text-brand"> BACKEND
                                        DEVELOPER </span></h1>
                                <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">Hi there, I'm Anabil,
                                    a backend developer with a passion for creating efficient, scalable, and secure web
                                    applications.</p>
                                <div data-aos="fade-up" data-aos-delay="600" class="headers">
                                    <a href="#work" class="btn btn-brand me-3 ">Explore My Work</a>
                                    <div class="d-block d-sm-none "><br></div>
                                    <a href="#" class="link-custom">Call:+91-8822501465</a>
                                    <div class="my-3 social-icons">
                                        <a class="mx-2" href="https://twitter.com/anabil_baruah"><i
                                                class="lab la-twitter fs-1"></i></a>
                                        <a class="mx-2" href="https://www.linkedin.com/in/anabil-baruah-7a73711b9/"><i
                                                class="lab la-linkedin fs-1"></i></a>
                                        <!-- <a href="#"><i class="lab la-dribbble"></i></a> -->
                                        <a class="mx-2" href="https://github.com/Anabil-Baruah"><i
                                                class="lab la-github fs-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <!-- //HOME -->

                <!-- SERVICES -->
                <section id="services" id="services" class="full-height px-lg-5">
                    <div class="container">

                        <div class="row pb-4" data-aos="fade-up">
                            <div class="col-lg-8">
                                <h6 class="text-brand">SERVICES</h6>
                                <h1>Services That I Provide</h1>
                            </div>
                        </div>

                        <div class="row gy-4 ">

                            <div class="col-md-4 " data-aos="fade-up">
                                <div
                                    class="service p-4 bg-base rounded-4 shadow-effect services-box d-flex flex-column justify-content-between">
                                    <div class="iconbox rounded-4">
                                        <i class="fa-solid fa-code"></i>
                                    </div>
                                    <h5 class="mt-4 mb-2">Backend Developement</h5>
                                    <p class="truncate">I specialize in developing scalable, high-performance
                                        applications using Node.js,
                                        express and ...</p>
                                        <div class="d-flex justify-content-between">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#backendDev"
                                        class="link-custom">Read More</a>
                                </div>
                                </div>
                            </div>

                            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                                <div class="service p-4 bg-base rounded-4 shadow-effect services-box d-flex flex-column justify-content-between">
                                  
                                    <div class="iconbox rounded-4">
                                      <i class="fa-solid fa-database"></i>
                                    </div>
                                    <h5 class="mt-4 mb-2">Database development</h5>
                                    <p class="truncate"> I am familiar with a variety of databases, scascascacsa ascdasca as</p>
                                 
                                  <div class="d-flex justify-content-between">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#DBMS" class="link-custom mt-auto">Read More</a>
                                  </div>
                                </div>
                              </div>
                              

                            <div class="col-md-4 " data-aos="fade-up" data-aos-delay="600">
                                <div
                                    class="service p-4 bg-base rounded-4 shadow-effect services-box d-flex flex-column justify-content-between">
                                    <div class="iconbox rounded-4">
                                        <i class="fa-solid fa-layer-group"></i>
                                    </div>
                                    <h5 class="mt-4 mb-2">Devops</h5>
                                    <p class="truncate">In addition to my expertise in backend development, I also have
                                        experience in
                                        DevOps and deployment... </p>
                                        <div class="d-flex justify-content-between">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#devops"
                                        class="link-custom mt-auto">Read
                                        More</a>
                                </div>
                            </div>


                        </div>

                    </div>
                </section>
                <!-- SERVICES -->

                <!-- WORK -->
                <section id="work" class="full-height px-lg-5">
                    <div class="container">
                        <div class="row pb-4" data-aos="fade-up">
                            <div class="col-lg-8">
                                <h6 class="text-brand">WORK</h6>
                                <h1>My Recent Projects</h1>
                            </div>
                        </div>
                   
                <div class="container table-bordered">
                <table class="table text-light">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ProjectImage</th>
                        <th scope="col">Description</th>
                        <th scope="col">Title</th>
                        <th scope="col">Live link</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><button type="submit" class="btn btn-success p-1">Edit</button></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td><button type="submit" class="btn btn-success p-1">Edit</button></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td><button type="submit" class="btn btn-success p-1">Edit</button></td>
                      </tr>
                      <tr>
                        <form>
                          <td></td>
                          <td><input type="file" class="form-control"></td>
                          <td><input type="text" class="form-control"></td>
                          <td><input type="text" class="form-control"></td>
                          <td><input type="text" class="form-control"></td>
                          <td><button type="submit" class="btn btn-primary p-1">Submit</button></td>
                        </form>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
                </section>
                <!-- //WORK -->

                <!-- BLOG -->
                <section id="blogs">
                    <div class="container">
                        <div class="row pb-4" data-aos="fade-up">
                            <div class="col-lg-8">
                                <h6 class="text-brand">BLOGS</h6>
                                <h1>My Recent Blogs</h1>
                            </div>
                        </div>
                   
                <div class="container table-bordered">
                <table class="table text-light">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ProfileImage</th>
                        <th scope="col">Blog link</th>
                        <th scope="col">Blog title</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><button type="submit" class="btn btn-success p-1">Edit</button></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td><button type="submit" class="btn btn-success p-1">Edit</button></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td><button type="submit" class="btn btn-success p-1">Edit</button></td>
                      </tr>
                      <tr>
                        <form>
                          <td></td>
                          <td><input type="text" class="form-control"></td>
                          <td><input type="text" class="form-control"></td>
                          <td><input type="text" class="form-control"></td>
                          <td><button type="submit" class="btn btn-primary p-1">Submit</button></td>
                        </form>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            </section>
<!-- //BLOG -->

                <!-- CONTACT -->
                <section id="contact" class="full-height px-lg-5">
                    <div class="container">

                        <div class="row justify-content-center text-center">
                            <div class="col-lg-8 pb-4" data-aos="fade-up">
                                <h6 class="text-brand">CONTACT</h6>
                                <h1>Interested in working together? Let's talk
                                </h1>
                            </div>

                            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                                <form onsubmit="sendMsg(event)" id="submitForm" class="row g-lg-3 gy-3">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" name="username"
                                            placeholder="Enter your name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email" class="form-control" name="email"
                                            placeholder="Enter your email">
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="text" class="form-control" name="subject"
                                            placeholder="Enter subject">
                                    </div>
                                    <div class="form-group col-12">
                                        <textarea type="text" rows="4" class="form-control" name="message"
                                            placeholder="Enter your message"></textarea>
                                    </div>
                                    <div class="form-group col-12 d-grid">
                                        <button type="submit" class="btn btn-brand">Contact me</button>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </section>
                <!-- //CONTACT -->


                <%- include('includes/footer')%>